
section.title h1 {
    font-size: clamp(64px, 6vw, 100px);
    color: var(--clr-blue-1);

    line-height: 1.25;
}

section.title h1,
section.title p {
    text-align: center;
}

section.title {
    padding-top: 24rem;
    padding-bottom: 12rem;
}

section.title .container.big {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.title .title-container {
    width: 80%;
}

dl {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}


@media screen and (max-width: 768px) {
    section.title {
        padding-top: 14rem;
    }   
    section.title .title-container {
      width: 100%;
    }
    section.title h1,
    section.title p {
    text-align:justify;
    
}
    dl {
        grid-template-columns: repeat(2, 2fr);
    }

    section.title li:nth-child(3),
    section.title li:nth-child(4) {
        padding-top: 2.4rem;
    }
    }
    


section.title li {
    display: block;
}

dt {
    font-size: 14px;
    color: var(--clr-grey-1);
    font-weight: 400;
}

dd {
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-blue-1);
}

section.title p {
    padding-top: 5.4rem;
    color: var(--clr-grey-1);
    font-size: 16px;
    font-weight: 300;
}



/* -------------------------------------------------------- */

.spacer {
    width:100%;
    height:50vh;
    background:#ddd;
} 

.gallery {
  display:flex; 
}

.gallery h3 {
    padding-bottom: 4rem;
    color: var(--clr-blue-1);
    font-size: 52px;
}

.gallery p {
    color: var(--clr-blue-1);
    font-weight: 300;
    font-size: 18px;
}

.left {
    width:50%;
}

.right {
    height:100vh;
    /* outline:1px solid purple; */
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.desktopContent {
    margin:auto;
    width:80%;
}

.desktopContentSection {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}


.desktopPhotos {
    width:35vw;
    height:35vw;
    border-radius:8px;
    position:relative;
    overflow:hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.desktopPhoto {
    position:absolute;
    width:100%;
    height:100%;
}

.desktopPhoto img {
    width: 100%;
    height: 100%;
}

/* small screen / mobile layout */
.mobileContent {
    display:none;
    width:80vw;
}

.mobilePhoto {
    width:80vw;
    height:80vw;
    margin-top:5em;
    border-radius:6vw;
}






/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
    .left {
        display:none;
    }
    
    .right {
        height:auto;
        width:100%;
        align-items:center; 
    }   
    
    .desktopPhotos {
        display:none;
    }
    
    .mobileContent {
        display:block;
    }
    

}





/* ------------------------- */


section.animations {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 1.6rem;
    
    height: auto;   
    width: 100vw;
    
    padding: 0 1.6rem 0 1.6rem;
    margin-bottom: var(--section-margin);
}


.animations .animation {
    /* aspect-ratio: 1/1; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 2.4rem;
}

.animations .animation .lottie {
    width: 100%;
    height: 100%;
}

.animations .animation p {
    font-style: italic;
    font-size: 12px;
}

.animations .animation h4 {
    font-size: 16px;
}





.underConstruction {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
  }

.underConstruction p {
    margin-top: .8rem;
    margin-bottom: 2.4rem;
    font-weight: 400;
    color: var(--clr-blue-1);
}

.underConstruction a {
    color: var(--clr-blue-1);
}

.underConstruction a:hover {
    color: white;
}

.underConstruction h2 {
    color: var(--clr-blue-1);
    font-size:clamp(20px, 2vw, 100px);
}

.underConstruction .lottie {
    position: relative;
    width: 40%;
    height: auto;
    min-width: 500px;
    z-index: 99999;
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .underConstruction .lottie {
        min-width: unset;
        width: 90%;
    }
}